body {
    font-family: 'Open Sans', sans-serif;
    color: #201b2d;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div, p, input, button, a, span, form, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubintu', sans-serif;
    font-weight: bold;
    margin: 0;
}

p {
    line-height: 1.65em;
}